<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyi.example.dao.SequenceDAO">

    <resultMap id="userResultMap" type="com.youyi.example.entity.SequenceDO">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="seq" property="seq"/>
    </resultMap>

    <sql id="BASE_COLUMN">id, create_time, update_time, deleted, seq</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `sequence` (`seq`) VALUE (#{seq})
    </insert>
</mapper>